<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <title>Головна</title>
</head>
<body>
<div class="wrapper">
    <nav class="nav">
        <div class="container">
            <ul class="nav__list">
                <li><a href="/surface" class="nav__link">Визначити тип</a></li>
                <li><a href="/surface/results" class="nav__link">Визначені поверхні</a></li>
                <li><a href="/surface/available" class="nav__link active">Доступні поверхні</a></li>
                <li><a href="/surface/algorithm" class="nav__link">Алгоритм</a></li>
            </ul>
        </div>
    </nav>
    <main>
        <div class="container">
            <h1 class="title">Інформація про кожну поверхню</h1>
        </div>
    </main>
    <footer class="footer">
        <div class="container">
            <div class="footer__body">
                <div class="footer__text">
                    Лабораторна робота Кузнецова Юрія, жодні права не захищені
                </div>
            </div>
        </div>
    </footer>
</div>
</body>
</html>