* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  font-size: 18px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 40px 0;
  background: rgb(230, 228, 228);
}

.title {
  font-size: 20px;
  font-weight: 600;
}
.title::first-letter {
  font-size: 24px;
  font-weight: 700;
}

.nav {
  background-color: #333;
}
.nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.nav li {
  float: left;
}
.nav__link {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.nav__link:hover:not(.active) {
  background-color: #111;
}
.nav__link.active {
  background-color: #04AA6D;
}

.footer {
  color: white;
  padding: 14px 0;
  background-color: #333;
}

.button {
  position: relative;
  top: 0px;
  padding: 10px 15px;
  background: #04AA6D;
  color: white;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
}
.button:hover {
  background: #038052;
}
.button:active {
  top: 4px;
  background: #6377ba;
}

.form {
  margin: 40px 0 50px 0;
  font-size: 18px;
}
.form input {
  width: 45px;
  font-size: 15px;
  margin-right: 5px;
}
.form input:focus {
  -webkit-box-shadow: 0 0 7px black;
          box-shadow: 0 0 7px black;
}
.form__button {
  margin-top: 30px;
}

p.text {
  margin-top: 50px;
}