<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <title>Головна</title>
</head>
<body>
    <div class="wrapper">
        <nav class="nav">
            <div class="container">
                <ul class="nav__list">
                    <li><a href="/" class="nav__link active">Головна</a></li>
                    <li><a href="/available-surfaces" class="nav__link">Доступні поверхні</a></li>
                    <li><a href="/algorithm" class="nav__link">Алгоритм</a></li>
                </ul>
            </div>
        </nav>
        <main>
            <div class="container">
                <h1 class="title">Визначення типу поверхні другого порядку</h1>
                <form action="result" class="form" name="equation">
                    <input name="a11" type="number" step="any"/>x²+
                    <input name="a22" type="number" step="any"/>y²+
                    <input name="a33" type="number" step="any"/>z²+
                    <input name="a12" type="number" step="any"/>xy+
                    <input name="a13" type="number" step="any"/>xz+
                    <input name="a23" type="number" step="any"/>yz+
                    <input name="a14" type="number" step="any"/>x+
                    <input name="a24" type="number" step="any"/>y+
                    <input name="a34" type="number" step="any"/>z+
                    <input name="a44" type="number" step="any"/>
                    = 0
                    <button class="button submit__button">Розрахувати</button>
                    <div class="button generate__button">Згенерувати</div>
                </form>
                <h2 class="title">Визначені поверхні</h2>
                <div class="equations">
                    <ul class="equations__list" th:each="i : ${#numbers.sequence(equations.size() - 1, 0, -1)}">
                        <li>
                            <span class="equation" th:text="${equations[i].userEquation}"></span>
                            <span class="type" th:text="${equations[i].surfaceType}"></span>
                        </li>
                    </ul>
                </div>
            </div>
        </main>
        <footer class="footer">
            <div class="container">
                <div class="footer__text">
                    Лабораторна робота Кузнецова Юрія, жодні права не захищені
                </div>
            </div>
        </footer>
    </div>
    <script type="text/javascript" src="js/script.js"></script>
</body>
</html>