$light_bg: #04AA6D;
$button_bg: $light_bg;
$button_hover_bg: #038052;
$button_active_bg: #6377ba;
$nav_footer_bg: #333; 

.wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.container {
	max-width: 800px;
	margin: 0 auto;
}

main {
    flex: 1 1 auto;
    padding: 40px 0;
    background: rgb(230, 228, 228);
}

.title {
	font-size: 20px;
	font-weight: 600;

	&::first-letter {
		font-size: 24px;
		font-weight: 700;
	}
}

.nav {
    background-color: $nav_footer_bg;
    
    &__list {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    li {
        float: left;
    }

    &__link {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;

        &:hover:not(.active) {
            background-color: #111;
        }

        &.active {
            background-color: $light_bg;
        }
    }
}

.footer {
    color: white;
    padding: 14px 0;
    background-color: $nav_footer_bg;
}




.button {
    position: relative;
    top: 0px;
    padding: 10px 15px;
    color: white;
	border-radius: 10px;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;

    &:hover {
        background: $button_hover_bg;
    }

    &:active {
        top: 4px;
        background: $button_active_bg;
    }
}

