$light_bg: #017c4f;
$button_bg: $light_bg;
$button_hover_bg: #038052;
$button_active_bg: #6377ba;
//$nav_footer_bg: none; 

// New colors
$dark-blue: #12161d;
$middle-blue: #122e47;
$light-blue: #229fff;
$text-color: white;

$text-size: 15px;




.wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.container {
    max-width: 1150px;
    padding: 0 50px;
	margin: 0 auto;
}

main {
    flex: 1 1 auto;
    padding: 40px 0;
    color: $text-color;
}

.title {
	font-size: 18px;
	font-weight: 500;
}

.nav {
    height: 64px;
    
    &__list {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        border-bottom: 1px solid $text-color;
    }

    li {
        float: left;
    }

    &__link {
        display: block;
        color: $text-color;
        text-align: center;
        padding: 24px 16px;
        text-decoration: none;

        &:hover:not(.active) {
            color: rgba(196,196,196,.35);
        }

        &.active {
            color: $light-blue;
        }

        &:first-child {
            padding: 25px 16px 25px 0;
        }
    }
}

.footer {
    color: $text-color;

    &__body {
        padding: 24px 0;
        border-top: 1px solid $text-color;
        height: 64px;
    }
}


.button {
    position: relative;
    top: 0px;
    padding: 10px 15px;
    color: white;
	border-radius: 10px;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;

    &:hover {
        background: $button_hover_bg;
    }

    &:active {
        top: 4px;
        background: $button_active_bg;
    }
}

