@import "resetStyles.scss";
@import "components.scss";


.form {
    margin: 40px 0 50px 0;
    font-size: 18px;

    input {
        width: 45px;
        font-size: 15px;
        margin-right: 5px;
        padding-left: 2px;

        &:focus {
            box-shadow: 0 0 7px black;
        }
    }
}

.submit__button {
    margin-top: 30px;
    background: $button_bg;
}

.generate__button {
    display: inline-block;
    margin-top: 30px;
    margin-left: 20px;
    background: rgb(86, 86, 152);

    &:hover {
        background: rgb(28, 28, 94);
    }

    &:active {
        background: rgb(136, 66, 80);
    }
}

p.text {
    margin-top: 50px;
}
