@import "resetStyles.scss";
@import "components.scss";


.form {
    margin-top: 50px;
    font-size: 18px;

    input {
        width: 45px;
        font-size: 15px;
        margin-right: 5px;

        &:focus {
            box-shadow: 0 0 7px black;
        }
    }

    &__button {
        margin-top: 30px;
    }
}

p.text {
    margin-top: 50px;
}
