@import "resetStyles.scss";
@import "components.scss";

.surfaces-list {
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}


.surface {
    border-radius: 10px;
    border: 3px solid $middle-blue;

    &__header {
        display: flex;
        justify-content: space-between;
        padding: 12px 20px;
        transition: background .4s;
        margin: -1px;
        border-radius: 10px;
        font-size: $text-size;

        &:hover {
            background: $middle-blue;
        }

        &.fill-bg {
            background: $middle-blue;
            border-radius: 10px 10px 0 0;
        }
    }

    &__equation {
    }

    &__icon {
        font-weight: bold;
        transition: transform .5s;

        &.turn-over {
            transform: rotate(180deg);
        }
    }

    &__body {
        display: flex;
        justify-content: space-between;
        background: $dark-blue;

        opacity: 0;
        height: 0px;
        overflow: hidden;
        transition: opacity 1s;

        &.shown {
            opacity: 1;
            height: auto;
            padding: 12px 20px;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        row-gap: 12px;
        font-size: $text-size;
        line-height: $text-size * 1.5;
    }

    &__image {
        img {
            display: block;
            max-height: 100px;
        }
    }

    &__canonical {
    }

    &__type {

    }
}
